@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.section {
    display: flex;
    flex-direction: row;
}

body {
    overflow-x: hidden;
}
.nav {
    width: 100%;
    height: 9em;
    display: flex;
    background-color: #eaeaea;
}

.menu {
    margin: 0 auto;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.menu img {
    width: 249px;
    height: 34px;
    margin-top: 2.5em;
    margin-left: 5em;
}

.menu ul { 
    display: flex;
    flex-direction: row;
    margin-top: 1.4em;
    
}

.menu li {
    padding: 2em;
    
}

/* MENU RESPOSIVE ACTIVE */

@media screen and (max-width:1050px) {
    .menu {
        margin: 0 auto;
        width: 1240px;
        display: flex;
        justify-content: space-between;
    }
    
    
    .menu ul { 
        display: flex;
        flex-direction: row;
        margin-top: 1.4em;
        
    }
    
    .menu li {
        padding: 2em;
        
    }
}


.menu a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    color: #535151;
    font-weight: bold ;
    letter-spacing: 0.3px;
}
.menu a:hover {
    color: #8a8787;
    border-bottom: 2px solid #5278ba;
}

.menu-resposive {
    z-index: 7;
    display: none;
    margin-top: 3em;
    cursor: pointer;
}

.burger {
    background-color: rgb(131, 128, 128);
    margin-top: 0.4em;
    margin-left: 2em;
    width: 2.5em;
    height: 0.3em;
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
}



/* RESPOSIVE MENU  */

@media screen and (max-width: 850px){
    .menu-resposive {
        display: block;
        margin: 2.5em 1em 0  0 ; 
    }
    body {
        overflow-x: hidden;
    }
    .menu ul { 
        position: absolute;
        flex-direction: column;
        margin-top: 9em;
        left: 0;
        width: 30%;
        height: calc(100% - 50%);
        background-color: #eaeaea;
        transform: translateX(-150%); 
        transition:  transform 0.7s ease-in;
        align-items: center;
    }
    
    .menu li {
        padding: 1.5em;
        
    }
    .menu a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        color: #535151;
        font-weight: bold ;
        letter-spacing: 0.3px;
        width: 100%;
        
    }

    .menu a:hover {
        color: #8a8787;
        border-bottom: 2px solid #5278ba;
    }

    .menu img {
        margin: 3.5em auto;
        width: 80px;
        height: 11px;
    }

}

.nav-active ul  {
    transform: translateX(0%);
}

.toggle .line1 {
    background-color: black;
    transform:  rotate(-45deg) translate(-5px , 7px);
}
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
    background-color: black;
    transform:  rotate(45deg) translate(-5px , -7px);
}
/* MENU RESPOSIVE ACTIVE */

/* START SECTION  */
.section {
    background-color: #5278ba;
    width: 100% ;
    height: 470px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    display: flex;
    width: 1240px;
}

.one-left img {
    display: block;
}

.one-left h1 {
    z-index: 7;
    display: block;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 28pt;
    color: white;
    font-weight: bold ;
    letter-spacing: 0.3px;
    margin: -9em 0 0 0.6em;
}

.one-left p {
    z-index: 7;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14pt;
    color: white;
    font-weight: bold ;
    letter-spacing: 3px;
    margin: 2em 0 0 1em;
    width: calc(100% - 30%);
}

.one-right {
    width: calc(100% - 25%);
}
.one-right img {
    width: 430px;
    height: 457px;
    margin: 1em auto;
}

@media screen and (max-width:790px) {
    .container {
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .section {
        height: 300px;
    }
    .one-left p {
        margin: 2em 0 0 3em;
        font-size: 11px;
    }
    .one-left h1 {
        margin: -13em 0 0 2em;
        font-size: 17px;
    }
    .one-left img {
        margin: 0.6em auto;
        width: calc(100% - 10%);
    }
    .one-right {
        display: none;
    }
    
    
}



/* 
RESPOSIVE ARTICLES */




/* END SECTION */


/*FOOTER INICIO */

.footer {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    flex-wrap: wrap;
    height: 350px;
    
}
.formulario {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.bloco-img {
    width: calc(100% - 70%);
    margin: 2em 0 0 1em;
    
}

.bloco-img p {
    margin-top: 5em;
    color: black;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 8px;
    color: #646464;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 11px;
}
.bloco-form{
    display: flex;
    flex-direction: row;
    width: calc(100% - 50%);
    
}

.aside-one {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.check {
    display: flex;
    width: 320px;
    margin: 1em 0 0 50%;
    justify-content: space-between;
}
.check h1 {
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 7pt;
    color: black;
    font-weight: bold ;
    letter-spacing: 0.3px;
}
.check em {
    color: blue;
}

.signup {
    display: flex;
    width: 320px;
    margin: 1.5em 0 0 50%;
    justify-content: space-between;
}

.signup input {
    border: 1px solid black;
    width: 25em;
    height: 5em;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #009da2;
    box-shadow: 1px 1px 5px 1px #9ea2a4;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold ;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.signup input:hover {
    transition: 0.6s;
    background-color: #54d0d4;
}

.comm {
    position: absolute;
    margin: -1.7em 0 0 -34em;
    color: black;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 7px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.5px;
    

}
.aside-two {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 4.7em;
}

.obj-h1 {
    position: absolute;
    margin: 1em 0 0 5em;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
}



/* 
CONFIG INPUT  */
.ls {
    margin-top: 2em;
    width: calc(100% - 50%);
}
.config-input {
    background-image: url(../img/user.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 7px 10px;
    border-color: #5278ba;
    border-radius: 5px;
    height: 3em;
    width: 20em;
    padding-left: 3em;
    border: 1px solid black;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
}



.aside-two textarea {
    height: 8em;
    width: 20em;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid black;
    background-image: url(../img/file.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 7px 9px;
    padding: 0.8em 0 0 3em;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
    resize: none;
}



.aside-three input {
    margin: 0 auto;
    border: 1px solid black;
    width: 25em;
    height: 5em;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #009da2;
    box-shadow: 1px 1px 5px 1px #9ea2a4;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold ;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.aside-three input:hover {
    transition: 0.6s;
    background-color: #54d0d4;
}
@media screen and (max-width:1050px) {
    .config-input  {
        width: 150px;
    }
    .aside-two textarea {
        width:150px;
    }
    .obj-h1 {
        font-size: 15px;
    }
    .one-right {
        display: none;
    }
}

/* 
RESPOSIVE NORMAL FOOTER */
/* 
bloco-img config */
@media screen and (min-width:760px) {
    .logo-mini {
        display: none;
    }
    .logo-medium{
        display: none;
    }
}
@media screen and (max-width:790px) {
    body {
        overflow-x: hidden;
    }
    .footer {
        height: 100%;
    }
    .formulario {
        width: calc(100%);
        flex-direction: column;
    }
    .logo-medium {
        display: none;
    }
    .logo-big {
        display: none;
    }
    .bloco-img {
        width: 320px;
        margin: 0 auto;
    }
    .logo-mini {
        margin: 1em 0 0 4.5em;
    }
    
    .bloco-img p{
        margin: 2em 0 0 0.5em;
    }

}
/* 
bloco-form config */

@media screen and (max-width:790px) {
    .bloco-form {
        width: 320px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .obj-h1 {
        font-size: 20px;
        margin: 1em auto;
    }

    .aside-one {
        display: flex;
        margin-bottom: -5em;
    }

    .aside-two textarea {
        margin-top: 2em;
        width: 25em
    }

    .config-input {
        width: 25em;
    }
    .comm {
        width: 50em;
    }
    .check {
        margin: 1em auto;
    }
    .signup {
        margin: 1em auto;
    }
    .signup input {
        width: 28em
    }
}
